body {
  font-family: sans-serif;
  padding: 15px;
  margin: 5px 10px 5px 10px;
}

#container {
  padding:10px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex {
  width: 400px;
  height: auto;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px;
}

p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

p:last-of-type {
  margin-top: 10px;
  font-weight: normal;
}

h2 {
  margin: 0;
}

a {
  color: #0481C1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

